.nav-tabs .nav-link {
  color: white;
  height: 25px;
  padding: 0px;
}

.nav-tabs .nav-link.active {
  background-color: red;
  color: white;
  border-color: red;
}

.mb-3 {
  border-color: red;
}

.selection-cell-header {
  width: 18px;
}

/* .react-bootstrap-table table {
  table-layout: auto;
  overflow: auto;
} */

.react-bootstrap-table {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}

td.selection-cell {
  padding: 1px;
}
