.buttonMargin {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.cardVertAlign {
  display: flex;
  justify-content: center;
}

.noWrapText {
  white-space: nowrap;
}

.noPaddingTop {
  padding-top: 0;
}

.reducePadding {
  padding-top: 2px;
  padding-bottom: 2px;
}

.borderWhite {
  border-style: groove;
  border-color: white;
}

.inpHeightXs {
  margin-top: 6px;
  height: 21px;
  background-color: lightgray;
  border-radius: 2px;
  font-weight: 500;
}

.asHeader {
  background-color: gray;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 5px;
  margin-top: 6px;
  height: 22px;
  font-weight: bold;
}

.asHeaderClicable {
  background-color: red;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 5px;
  margin-top: 6px;
  height: 28px;
  border-style: solid;
  border-color: gray;
}

.asHeaderClicable:hover {
  border-color: white;
  cursor: pointer;
  border-style: solid;
}

.imageSize {
  width: 50px;
  height: 50px;
  background-color: white;
}

.imageSize2 {
  margin-top: 5px;
  width: 145px;
  height: 145px;
  background-color: white;
}

.redPills .active {
  background-color: red;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: red;
}

.nav-pills .nav-link {
  color: red;
}

.card-header {
  border-color: gray;
}

.empTableRow td {
  padding: 1px;
}

.empTableHeader th span {
  display: none;
}

/* span.react-bs-table-sizePerPage-dropdown #bsTable-pageDropDown {
  visibility: hidden;
  display: none;
} */

.react-bootstrap-table-pagination {
  display: grid;
  justify-content: center;
}

.floatTop {
  position: relative;
}

.setHeightCard {
  height: fit-content;
}

.setButtonMargin {
  margin-left: 10px;
  margin-right: 10px;
  width: 78px;
}

.setButtonMargin2 {
  margin-left: 10px;
  margin-right: 10px;
  width: 215px;
}

.my-modal {
  width: 350px;
  border-radius: 10px;
}

.asTableHeader {
  color: white;
  text-align: center;
  font-weight: 400;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.027);
  border-color: gray;
}

.centerLoading {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
