:root {
  --tambunting-red: #b01b10;
  --gray-background: rgb(46, 46, 46);
  --text-color-off-white: rgb(238, 238, 238);
  font-size: small;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* filter: invert(100%); */
}

.bodyClass {
  background-color: var(--gray-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-gray {
  color: gray;
}

.text-red {
  color: var(--tambunting-red);
}

.text-white {
  color: white;
}

.fs-med {
  font-size: medium;
}
.no-margin {
  margin: 0;
  display: flex;
  justify-content: left;
  align-items: center;
}

#bsTable {
  /* color: white; */
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-color: rgb(173, 173, 173);
  filter: invert(100%);
  font-weight: bold;
}

.react-bootstrap-table > table > thead > tr > th .filter-label {
  width: 100%;
}

.container #navbarContainer {
  /* margin-left: 5%; */
  max-width: 1330px;
}

input[type="radio"]:after {
  /* width: 12px;
  height: 12px;
  border-radius: 12px; */
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
}

input[type="radio"]:checked:after {
  width: 14px;
  height: 15px;
  border-radius: 14px;
  /* position: relative; */
  background-color: cyan;
  content: "";
  display: inline-block;
  visibility: visible;
}

.separator {
  border-bottom: 1px;
  border-color: gray;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 10px;
  margin-top: 10px;
}

.separator2 {
  border-bottom: 1px;
  border-color: gray;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  margin-top: 0px;
}

.noPaddingLabel {
  padding: 0px;
}

.addIcon {
  margin: 0px 5px 0px 5px;
  width: 30px;
  height: 30px;
}

.addIcon:hover {
  fill: green;
  cursor: pointer;
}

.addIcon:focus {
  fill: green;
}

.deleteIcon {
  margin: 0px 5px 0px 5px;
  width: 30px;
  height: 30px;
}

.deleteIcon:hover {
  fill: red;
  cursor: pointer;
}

.deleteIcon:focus {
  fill: red;
}

.editIcon {
  margin: 0px 5px 0px 5px;
  width: 30px;
  height: 30px;
}

.editIcon:hover {
  fill: yellow;
  cursor: pointer;
}

.editIcon:focus {
  fill: yellow;
}

.centerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropDownList {
  height: 24px;
  margin-top: 5px;
}

.deleteWarningIcon {
  margin: 0px 5px 0px 5px;
  width: 30px;
  height: 30px;
  fill: red;
}

.infoWarningIcon {
  margin: 0px 5px 0px 5px;
  width: 30px;
  height: 30px;
  fill: green;
}

.invertColor {
  filter: invert(88%);
}

.buttonRight {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.currency {
  text-align: right;
}

/* .react-bootstrap-table {
  max-height: 420px;
  overflow-y: scroll;
} */

#bsTable2 {
  /* color: white; */
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-color: rgb(173, 173, 173);
  filter: invert(100%);
  font-weight: bold;
}

.asLabel {
  border-style: none;
  background-color: yellow;
}

.currency2 {
  text-align: right;
  font-weight: bold;
}

.dateLoanFields {
  font-weight: bolder;
  text-align: center;
}

.loansRowColor > input {
  color: red;
}
